.button
  display: block
  border-radius: 5px
  padding: 20px

  &.red
    background-color: $red
    color: White
    border-bottom: 4px solid $darkRed

  &.blue
    background-color: $blue
    color: White
    border-bottom: 4px solid $darkBlue

  &.gray
    background-color: $gray
    color: White
    border-bottom: 4px solid $darkGray
