.related
  padding-top: 2rem
  padding-bottom: 2rem

.related-posts
  padding-left: 0
  list-style: none
  width: 100%
  max-width: 700px
  time
    display: inline-block
    margin: 0

.related-posts h3
  margin-top: 0

.related-posts li time
  font-size: 75%
  color: $gray

.related-posts li a:hover
  text-decoration: none

.related-posts li a:hover time
  color: inherit
